<h1>Projects</h1>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project.id) %>
      <%= " - #{project.description}" if project.description.present? %>
    </li>
  <% end %>
</ul>
